Package: cldemo-wbench-base-puppet
Version: 1.18
Section: base
Priority: optional
Architecture: all
Depends: puppetmaster, cldemo-wbench-base, cldemo-wbench-ztp-puppet, puppet
Maintainer: Customer Engineering <ce-ceng@cumulusnetworks.com>
Description: Puppetmaster basic configuration
  Setup the puppetmaster, fileserver, autosigning etc
