Package: cldemo-wbench-ospfunnum-base-cfengine
Version: 0.1-8
Section: base
Priority: optional
Architecture: all
Depends: cldemo-wbench-base-cfengine
Maintainer: Leslie Carr <leslie@cumulusnetworks.com>, Nat Morris <nat@cumulusnetworks.com>
Description: CFEngine and OSPF Unnumbered IPv4
  CFEngine and OSPF Unnumbered IPv4
  Original Author Matt Willsher <mwillsher@cumulusnetworks.com>

