Package: cldemo-wbench-sflow-base-puppet
Version: 0.4-1
Section: base
Priority: optional
Architecture: all
Depends: cldemo-wbench-sflow-base, cldemo-wbench-ospfunnum-base-puppet
Maintainer: Customer Engineering <ce-ceng@cumulusnetworks.com>
Description: sflow puppet base
  Setup hsflowd on the switch and display monitoring examples
