{{ header_tmpl }}
{% set intvars = server_interfaces[ansible_hostname] %}

auto lo
iface lo inet loopback

{% for int in intvars %}
auto {{ int }}
iface {{ int }} inet static
    address {{ intvars[int].address }}
    netmask {{ intvars[int].netmask }}
{% if intvars[int].gateway is defined %}
    gateway {{ intvars[int].gateway }}
{% endif %}
{% if intvars[int].up is defined %}
    up {{ intvars[int].up }}
{% endif %}

{% endfor %}
