Package: cldemo-wbench-sflow-2s-puppet
Version: 0.4-1
Section: base
Priority: optional
Architecture: all
Depends: cldemo-wbench-sflow-base-puppet
Maintainer: Customer Engineering <ce-ceng@cumulusnetworks.com>
Description: Setup sflow with 2s topology
  Setup hsflowd on the switch and display monitoring examples
