Package: cldemo-wbench-openstack-2lt22s-puppet
Version: 0.1
Section: base
Priority: optional
Architecture: all
Depends: cldemo-wbench-openstack-base-puppet
Maintainer: Nat Morris <nat@cumulusnetworks.com>
Description: Trident2 2 leaf 2 spine; Puppet and Openstack
  4 switch lab with Openstack managed by Puppet
